<nav>
    <img src="/static/dal segno.png" alt="Logo">

    <section>
        <a href="/">
            <img src="/static/home.svg" alt="User Icon">
            <h3>Home</h3>
        </a>
        <a href="/about">
            <img src="/static/about.svg" alt="User Icon">
            <h3>About</h3>
        </a>
        <a href="/contract">
            <img src="/static/contract.svg" alt="User Icon">
            <h3>Contract</h3>
        </a>
        <a href="/admin">
            <img src="/static/admin.svg" alt="User Icon">
            <h3>Admin</h3>
        </a>
        <a href="/profile">
            <img src="/static/user.svg" alt="User Icon">
            <h3>{{ profile.name }}</h3>
        </a>
    </section>
</nav>